In [1]:
import sqlite3
conn = sqlite3.connect('example_2.db')
c = conn.cursor()
# Create table
c.execute("""CREATE TABLE stocks
    (date text, trans text, symbol text, qty real, price real)""")
# Insert a row of data
c.execute("""INSERT INTO stocks
    VALUES ('2006-01-05','BUY','RHAT',100,35.14)""")
# Save (commit) the changes and then close the connection
conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('example_2.db')
c = conn.cursor()
# Create table
# Save (commit) the changes and then close the connection
curs = c.execute("SELECT * FROM stocks")
res = curs.fetchall()
print(res)
conn.close()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [4]:
import sqlite3
conn = sqlite3.connect('example_2.db')
c = conn.cursor()
# Create table
a = input()

c.execute(f"""INSERT INTO stocks
    VALUES ('2006-01-05','BUY','RHAT',100,{a})""")
# Save (commit) the changes and then close the connection
curs = c.execute("SELECT * FROM stocks")
res = curs.fetchall()
print(res)
#try (SELECT price FROM stocks WHERE trans='BUY')
conn.commit()
conn.close()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 10.0)]

In [5]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/tacit/.local/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.37-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 19.0 MB/s eta 0:00:00a 0:00:01
Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (599 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 599.5/599.5 kB 10.4 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37

In [6]:
from sqlalchemy import Column,ForeignKey,Integer,String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine,PrimaryKeyConstraint
Base = declarative_base()
class Actor(Base):
  __tablename__ = 'actor'
  # Each column is also a python instance attribute
  actor_id = Column(Integer, primary_key=True)
  name     = Column(String(250), nullable=False)
class Film(Base):
  __tablename__ = 'film'
  film_id = Column(Integer, primary_key=True)
  title   = Column(String(250), nullable=False)
  genre  = Column(String(250))

/tmp/ipykernel_322687/2729954081.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [7]:
class Actor_film_mapping(Base):
  __tablename__ = 'actor_film_mapping'
  actor = relationship(Actor)
  film  = relationship(Film)
  actor_id = Column(Integer, ForeignKey('actor.actor_id'))
  film_id  = Column(Integer, ForeignKey('film.film_id'))
  __table_args__ = (
    PrimaryKeyConstraint('actor_id', 'film_id'),
  )
# Create an engine that stores data in the local
# directory's example.db file.
engine = create_engine('sqlite:///example_3.db')
# Create all tables in the engine. This is equivalent
# to "Create Table" statements in raw SQL.
Base.metadata.create_all(engine)

In [8]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
#from base import Actor, Film, Actor_film_mapping, Base
engine = create_engine('sqlite:///example_3.db')
# Bind the engine to the metadata of the Base
# class from base.py
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()
# Insert an actor in the actor table
actor1 = Actor(name='Smith, John')
session.add(actor1)
session.commit()

In [9]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
#from base import Actor, Film, Actor_film_mapping, Base
engine = create_engine('sqlite:///example_3.db')
# Bind the engine to the metadata of the Base
# class from base.py
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()
# Insert a film in the film table
film1 = Film(title='Hello world', genre='documentary')
session.add(film1)
session.commit()

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
#from base import Actor, Film, Actor_film_mapping, Base
engine = create_engine('sqlite:///example_3.db')
# Bind the engine to the metadata of the Base
# class from base.py
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()
# Insert an actor in the actor table
rel = Actor_film_mapping(actor_id=1, film_id=1)
session.add(rel)
session.commit()

In [11]:
#from base import Actor, Film, Actor_film_mapping, Base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
engine = create_engine('sqlite:///example_3.db')
Base.metadata.bind = engine
DBSession = sessionmaker(bind = engine)
session = DBSession()
actor1 = session.query(Actor).first()
print(actor1.name) #'Smith, John'
session.query(Actor_film_mapping).filter(Actor_film_mapping.actor_id == actor1.actor_id).all()[0]

Smith, John

In [12]:
obj = session.query(Actor_film_mapping).filter(Actor_film_mapping.actor_id == actor1.actor_id).all()[0]

In [13]:
obj.film.title

'Hello world'

In [14]:
dir(obj)

['__abstract__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__table_args__',
 '__tablename__',
 '__weakref__',
 '_sa_class_manager',
 '_sa_instance_state',
 '_sa_registry',
 'actor',
 'actor_id',
 'film',
 'film_id',
 'metadata',
 'registry']